# Connection
PROTOCOL=https
HOST=geonode.url.com
PORT=443       # leave blank or remove if using default

# Load params
USERS=10
RAMPUP=30
DURATION=120

# Upload auth (Basic Auth)
BASIC_USER=admin
BASIC_PASS=senha123

# Upload specifics
UPLOAD_ENDPOINT=/api/uploads/         # endpoint relative ao HOST
UPLOAD_FILE=/tests/data/sample.zip    # caminho dentro do container (montado)
UPLOAD_FORM_FIELD=base_file

# OGC specifics
LAYER_NAME=workspace:layer
CSW_COLLECTION=metadata_record
WMS_BBOX=-40,-20,-39,-19
WMS_WIDTH=800
WMS_HEIGHT=600
WMS_FORMAT=image/png
